<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355520704406-a91eokt7r5ecnn67m8akisknjstddkde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355520704406-a91eokt7r5ecnn67m8akisknjstddkde</string>
	<key>API_KEY</key>
	<string>AIzaSyD5mIrc4HBkYWs0qLrx5qW600ZZwu_v0SA</string>
	<key>GCM_SENDER_ID</key>
	<string>355520704406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.picassoDiary</string>
	<key>PROJECT_ID</key>
	<string>picassodiary</string>
	<key>STORAGE_BUCKET</key>
	<string>picassodiary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355520704406:ios:448579ab5ea6f64256f7b7</string>
</dict>
</plist>